/* my added css */

input {
  width: 100%;
  height: 95%;
}

.kg-row {
  margin: 10px 5px;
}

.kg-btn {
  min-width: 80px;
}

.overlay {
  background-color: rgba(255, 255, 255, 0.65); /* white with transparency */
  min-height: 100vh;
  padding: 20px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url("/src/assets/pic.jpg") no-repeat center center fixed;
  background-size: cover;
}

